In [ ]:
import pandas as pd

In [77]:
df = pd.read_csv('data/2022.csv', delimiter=';')
df.head()

,Date Time,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2022-03-20T07:00:00+00:00,16.5654,13.9982,1.6743,452,13.527,NaN,NaN,NaN,12.0,...,NaN,3.7,NaN,NaN,AURN St Pauls,"51.46282941748531,-2.584540816301439",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
1,2022-03-20T12:00:00+00:00,10.7755,8.7000,1.3537,452,15.459,NaN,NaN,NaN,9.0,...,NaN,9.5,NaN,NaN,AURN St Pauls,"51.46282941748531,-2.584540816301439",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
2,2022-03-20T15:00:00+00:00,12.7055,10.9030,1.1756,452,23.189,NaN,NaN,NaN,8.0,...,NaN,9.8,NaN,NaN,AURN St Pauls,"51.46282941748531,-2.584540816301439",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
3,2022-03-20T21:00:00+00:00,47.3373,46.4088,0.6056,452,39.614,NaN,NaN,NaN,19.0,...,NaN,3.4,NaN,NaN,AURN St Pauls,"51.46282941748531,-2.584540816301439",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
4,2022-03-21T05:00:00+00:00,38.4043,37.9126,0.3207,452,33.817,NaN,NaN,NaN,29.0,...,NaN,1.7,NaN,NaN,AURN St Pauls,"51.46282941748531,-2.584540816301439",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)